h1 {
    float: left;
}

h2 {
    text-align: center;
}

.top-picks-header {
    margin: auto 1rem;
}

.dropdown-toggle {
    cursor: pointer;
}

.icon {
    height: 1.5rem;
    margin-right: .5rem;
}
