.top-picks-content {
    margin-top: 3rem;
}

.row {
    justify-content: center;
    margin-bottom: 1rem;
}

.spinner-border {
    position: absolute;
    top: 75%;
    left: 50%;
    height: 4rem;
    width: 4rem;
    margin: -2rem 0 0 -2rem;
    border: .5rem solid currentColor;
    border-right-color: transparent;
    z-index: 99;
}