.nav-div {
  display: table;
  width: 100%;
  margin: 1rem auto 0;
}
.btn-success {
  margin-top: 1rem;
}
.btn-info {
  margin-top: 1rem;
}
.input-group {
  margin-top: 1rem;
}

.btn-toolbar {
  justify-content: space-around;
}
